<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.codenvy.eclipse.core.codenvyNature"
         name="Codenvy Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.codenvy.eclipse.core.CodenvyNature">
         </run>
      </runtime>
   </extension>

</plugin>
