<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.codenvy.eclipse.core.credentialsProvider" name="CredentialsProvider" schema="schema/com.codenvy.eclipse.core.credentialsProvider.exsd"/>
   <extension
         id="com.codenvy.eclipse.core.codenvyNature"
         name="Codenvy Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.codenvy.eclipse.core.CodenvyNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.team.core.repository">
      <repository
            class="com.codenvy.eclipse.core.team.CodenvyProvider"
            id="com.codenvy.eclipse.core.team.codenvyProvider">
      </repository>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.codenvy.eclipse.core.team.CodenvyMetaResourcePropertyTester"
            id="com.codenvy.eclipse.core.team.codenvyMetaResourcePropertyTester"
            namespace="com.codenvy.eclipse.core.team.codenvyMetaResource"
            properties="tracked"
            type="com.codenvy.eclipse.core.team.CodenvyMetaResource">
      </propertyTester>
   </extension>
   <extension
         id="com.codenvy.eclipse.core.codenvyProjectLayoutMarker"
         name="Codenvy project layout marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="com.codenvy.eclipse.core.launcher.launchConfigurationType"
            name="Codenvy"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="com.codenvy.eclipse.core.launcher.RunOnCodenvyDelegate"
            delegateDescription="Runs a project on Codenvy"
            id="com.codenvy.eclipse.core.launcher.runLaunchDelegate"
            modes="run"
            name="Run on Codenvy Launcher"
            type="com.codenvy.eclipse.core.launcher.launchConfigurationType">
      </launchDelegate>
      <launchDelegate
            delegate="com.codenvy.eclipse.core.launcher.BuildOnCodenvyDelegate"
            delegateDescription="Builds a project on Codenvy"
            id="com.codenvy.eclipse.core.launcher.buildLaunchDelegate"
            modes="run"
            name="Build on Codenvy Launcher"
            type="com.codenvy.eclipse.core.launcher.launchConfigurationType">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="com.codenvy.eclipse.core.factories.CodenvyAdapterFactory">
         <adapter
               type="com.codenvy.eclipse.core.team.CodenvyMetaResource">
         </adapter>
      </factory>
   </extension>
   
</plugin>
