<?xml version="1.0" encoding="UTF-8"?>
<!--
  CODENVY CONFIDENTIAL
  ________________
  
  [2012] - [2014] Codenvy, S.A.
  All Rights Reserved.
  NOTICE: All information contained herein is, and remains
  the property of Codenvy S.A. and its suppliers,
  if any. The intellectual and technical concepts contained
  herein are proprietary to Codenvy S.A.
  and its suppliers and may be covered by U.S. and Foreign Patents,
  patents in process, and are protected by trade secret or copyright law.
  Dissemination of this information or reproduction of this material
  is strictly forbidden unless prior written permission is obtained
  from Codenvy S.A..
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.codenvy.eclipse.ui.wizard.category.import"
            name="Codenvy">
      </category>
      <wizard
            category="com.codenvy.eclipse.ui.wizard.category.import"
            class="com.codenvy.eclipse.ui.wizard.importer.ImportProjectFromCodenvyWizard"
            icon="images/Import.gif"
            id="com.codenvy.eclipse.ui.wizard.import"
            name="Existing Codenvy Projects">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.codenvy.eclipse.ui.wizard.category.new"
            name="Codenvy">
      </category>
      <wizard
            category="com.codenvy.eclipse.ui.wizard.category.new"
            class="com.codenvy.eclipse.ui.wizard.importer.ImportProjectFromCodenvyWizard"
            hasPages="true"
            icon="images/New.gif"
            id="com.codenvy.eclipse.ui.wizard.new"
            name="Projects from Codenvy"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.codenvy.eclipse.ui.wizard.category.export"
            name="Codenvy">
      </category>
      <wizard
            category="com.codenvy.eclipse.ui.wizard.category.export"
            class="com.codenvy.eclipse.ui.wizard.exporter.ExportProjectToCodenvyWizard"
            icon="images/Export.gif"
            id="com.codenvy.eclipse.ui.wizard.export"
            name="Codenvy project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.codenvy.eclipse.ui.team.push"
            name="Push">
      </command>
      <command
            id="com.codenvy.eclipse.ui.team.update"
            name="Update">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:team.main?before=group1">
         <command
               commandId="com.codenvy.eclipse.ui.team.push"
               icon="images/Push.png"
               id="com.codenvy.eclipse.ui.team.popup.push"
               label="Push"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <reference
                           definitionId="com.codenvy.eclipse.ui.team.resourceContributions">
                     </reference>
                  </with>
                  <with
                        variable="activeMenuEditorInput">
                     <reference
                           definitionId="com.codenvy.eclipse.ui.team.resourceContributions">
                     </reference>
                  </with></or>
            </visibleWhen>
         </command>
         <command
               commandId="com.codenvy.eclipse.ui.team.update"
               icon="images/Update.png"
               id="com.codenvy.eclipse.ui.team.popup.update"
               label="Update"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <reference
                           definitionId="com.codenvy.eclipse.ui.team.resourceContributions">
                     </reference>
                  </with>
                  <with
                        variable="activeMenuEditorInput">
                     <reference
                           definitionId="com.codenvy.eclipse.ui.team.resourceContributions">
                     </reference>
                  </with>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.codenvy.eclipse.ui.team.trackedResourceContributions">
         <iterate
               ifEmpty="false"
               operator="and">
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <and>
                  <adapt
                        type="com.codenvy.eclipse.core.team.CodenvyMetaResource">
                     <test
                           property="com.codenvy.eclipse.core.team.codenvyMetaResource.tracked"
                           value="true">
                     </test>
                  </adapt>
                  <test
                        args="org.eclipse.team.core.repository"
                        property="org.eclipse.core.resources.projectPersistentProperty"
                        value="com.codenvy.eclipse.core.team.codenvyprovider">
                  </test>
               </and>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="com.codenvy.eclipse.ui.team.resourceContributions">
         <iterate
               ifEmpty="false"
               operator="and">
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <test
                     args="org.eclipse.team.core.repository"
                     property="org.eclipse.core.resources.projectPersistentProperty"
                     value="com.codenvy.eclipse.core.team.codenvyprovider">
               </test>
            </adapt>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.codenvy.eclipse.ui.team.CodenvyLightweightLabelDecorator"
            id="com.codenvy.eclipse.ui.team.decorator"
            label="Codenvy Provider"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.codenvy.eclipse.ui.team.PushHandler"
            commandId="com.codenvy.eclipse.ui.team.push">
      </handler>
      <handler
            class="com.codenvy.eclipse.ui.team.UpdateHandler"
            commandId="com.codenvy.eclipse.ui.team.update">
         <enabledWhen>
            <or>
               <with
                     variable="activeMenuSelection">
                  <reference
                        definitionId="com.codenvy.eclipse.ui.team.trackedResourceContributions">
                  </reference>
               </with>
               <with
                     variable="activeMenuEditorInput">
                  <reference
                        definitionId="com.codenvy.eclipse.ui.team.trackedResourceContributions">
                  </reference>
               </with>
            </or></enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.codenvy.eclipse.ui.preferences.CodenvyPreferencesPage"
            id="com.codenvy.eclipse.ui.preferences"
            name="Codenvy">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.codenvy.eclipse.ui.preferences.CodenvyPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.codenvy.eclipse.ui.launcher.LaunchConfigurationTabGroup"
            id="com.codenvy.eclipse.ui.launcher.launchConfigurationTabGroup"
            type="com.codenvy.eclipse.core.launcher.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.codenvy.eclipse.core.launcher.launchConfigurationType"
            icon="images/LaunchLogo.png"
            id="com.codenvy.eclipse.ui.launcher.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.codenvy.eclipse.ui.launcher.RunOnCodenvyShortcut"
            description="Runs an application on Codenvy"
            icon="images/RunOnCodenvy.png"
            id="com.codenvy.eclipse.ui.launcher.runOnCodenvy"
            label="Run on Codenvy"
            modes="run"
            path="codenvy">
         <contextualLaunch>
            <enablement>
               <or>
                  <with
                        variable="activeMenuSelection">
                     <reference
                           definitionId="com.codenvy.eclipse.ui.team.resourceContributions">
                     </reference>
                  </with>
                  <with
                        variable="activeMenuEditorInput">
                     <reference
                           definitionId="com.codenvy.eclipse.ui.team.resourceContributions">
                     </reference>
                  </with>
               </or></enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.consoleLineTrackers">
      <consoleLineTracker
            class="com.codenvy.eclipse.ui.launcher.RunOnCodenvyConsoleLineTracker"
            id="com.codenvy.eclipse.ui.launcher.runOnCodenvyConsoleLineTracker"
            processType="com.codenvy.eclipse.core.launcher.CodenvyRunnerProcess">
      </consoleLineTracker>
   </extension>
</plugin>
