<?xml version="1.0" encoding="UTF-8"?>
<!--
  CODENVY CONFIDENTIAL
  ________________
  
  [2012] - [2014] Codenvy, S.A.
  All Rights Reserved.
  NOTICE: All information contained herein is, and remains
  the property of Codenvy S.A. and its suppliers,
  if any. The intellectual and technical concepts contained
  herein are proprietary to Codenvy S.A.
  and its suppliers and may be covered by U.S. and Foreign Patents,
  patents in process, and are protected by trade secret or copyright law.
  Dissemination of this information or reproduction of this material
  is strictly forbidden unless prior written permission is obtained
  from Codenvy S.A..
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.codenvy.eclipse.ui.wizard.category.import"
            name="Codenvy">
      </category>
      <wizard
            category="com.codenvy.eclipse.ui.wizard.category.import"
            class="com.codenvy.eclipse.ui.wizard.importer.ImportProjectFromCodenvyWizard"
            icon="images/Import.gif"
            id="com.codenvy.eclipse.ui.wizard.import"
            name="Existing Codenvy Projects">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.codenvy.eclipse.ui.wizard.category.new"
            name="Codenvy">
      </category>
      <wizard
            category="com.codenvy.eclipse.ui.wizard.category.new"
            class="com.codenvy.eclipse.ui.wizard.importer.ImportProjectFromCodenvyWizard"
            hasPages="true"
            icon="images/New.gif"
            id="com.codenvy.eclipse.ui.wizard.new"
            name="Projects from Codenvy"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.codenvy.eclipse.ui.wizard.category.export"
            name="Codenvy">
      </category>
      <wizard
            category="com.codenvy.eclipse.ui.wizard.category.export"
            class="com.codenvy.eclipse.ui.wizard.exporter.ExportProjectToCodenvyWizard"
            icon="images/Export.gif"
            id="com.codenvy.eclipse.ui.wizard.export"
            name="Codenvy project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.codenvy.eclipse.ui.team.PushHandler"
            id="com.codenvy.eclipse.ui.team.push"
            name="Push">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:team.main?before=group1">
         <command
               commandId="com.codenvy.eclipse.ui.team.push"
               id="com.codenvy.eclipse.ui.team.popup.push"
               label="Push"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <reference
                           definitionId="com.codenvy.eclipse.ui.team.IResourceContributions">
                     </reference>
                  </with>
                  <with
                        variable="activeMenuEditorInput">
                     <reference
                           definitionId="com.codenvy.eclipse.ui.team.IResourceContributions">
                     </reference>
                  </with></or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.codenvy.eclipse.ui.team.IResourceContributions">
         <iterate
               ifEmpty="false"
               operator="and">
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <test
                     args="org.eclipse.team.core.repository"
                     property="org.eclipse.core.resources.projectPersistentProperty"
                     value="com.codenvy.eclipse.core.team.codenvyprovider">
               </test>
            </adapt>
         </iterate>
      </definition>
   </extension>
</plugin>
